@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Spectral:wght@200&family=Zen+Loop&display=swap');

//fonts
$indie: "Indie Flower";
$zen: "Zen Loop";
$spectal: "Spectral";
$playfair: "Playfair Display";
//font lists
$serif-font: $spectal, $playfair, "serif";
$sans-serif-font: $indie, $zen, "sans-serif";
//colors
$green: #64ffbc;
$pink: #fd70df;
$purple: #9064ff;
$orange: #ff7b64;
$yellow: #ffc964;

@mixin font-fam ($size) {
    @if ($size == "large") {
        font-family: $serif-font;
    }
    @else if ($size == "small") {
        font-family: $sans-serif-font;
    }
}
@mixin LinkList {
    list-style: none;
    display: flex;
    flex-direction: row;

    & li {
        margin-right: 15px;
    }
}
@mixin linkStyle {
    text-decoration: none;
    font-family: "Zen Loop", sans-serif;
    font-weight: 700;
    color: white;
    background-color: #9064ff;
    padding: 15px;
    border-radius: 90px 0 90px 0;

    &:visited {
        background-color: #64ffbc;
    }
    &:hover {
        background-color: #ff52da;
    }
}
@mixin color-p ($arg) {
    background-color: $arg;
    color: white;
}


body {
    @include font-fam(small);
}
h1, h2, h3 {
    @include font-fam(large);
}
h1 {
    font-size: 3em;
}
h2 {
    font-synthesis: 1em;
}

a {
    @include linkStyle();
}
.preamble {
    @include color-p($purple);
}