@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Spectral:wght@200&family=Zen+Loop&display=swap');

//fonts
$indie: "Indie Flower";
$zen: "Zen Loop";
$spectal: "Spectral";
$playfair: "Playfair Display";
//font lists
$serif-font: $spectal, $playfair, "serif";
$sans-serif-font: $indie, $zen, "sans-serif";
//colors
$green: #64ffbc;
$pink: #fd70df;
$purple: #9064ff;
$orange: #ff7b64;
$yellow: #ffc964;
$textBackground: aliceblue;
//opacity
$op: 0.5;
//colors with opacity
$opGreen: rgba(100, 255, 188, $op);
$opPink: rgba(253, 112, 223, $op);
$opPurple: rgba(144, 100, 255, $op);
$opOrange: rgba(255, 123, 100, $op);
$opYellow: rgba(255, 201, 100, $op);
//border radius
$radius: 80px;
$topLeft-bottomRight: 0px 90px 0px 90px;
$topRight-bottomLeft: 90px 0px 90px 0px;
//sets width for body
$width: 600px;
$small-width: 70%;
$widthB: $width + 15px;
//sets font fam via size. large = headlines, small = body
@mixin font-fam ($size) {
    @if ($size == "large") {
        font-family: $serif-font;
    }
    @else if ($size == "small") {
        font-family: $sans-serif-font;
    }
}
//sets a list of links into a row. To be used for the footer.
@mixin LinkList {
    display: flex;
    flex-direction: row;

    & li {
        margin-right: 15px;
    }
}
//to style links in general. May need touch ups as the leaf link version
//may not always work
@mixin linkStyle {
    text-decoration: none;
    font-family: "Zen Loop", sans-serif;
    font-weight: 700;
    color: white;
    background-color: $purple;
    padding: 15px;
    border-radius: 90px 0 90px 0;

    &:visited {
        background-color: $pink;
        color: white;
    }
    &:hover {
        background-color: $orange;
        color: white;
    }
}
@mixin linkStyle2 {
    text-decoration: wavy;
    font-family: "Zen Loop", sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: $purple;

    &:visited {
        color: $pink;
    }
    &:hover {
        color: $orange;
    }
}
//to style to links in the sidebars
//will be added to
@mixin listin {
    list-style: none;
}
//to easily set a div, p, of section to a color with white lettering
@mixin color-p ($arg) {
    background-color: $arg;
}
//set base for large screen div
@mixin set-div {
    text-align: center;
    //border-radius: $radius;
    padding: 10px;
}
//set up divs with background, border, radius, etc
@mixin set-div2 ($arg, $arg2) {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: $arg2;
    

    @if($arg == "top") {
        border-radius: 0 0 90px 90px;
    }
    @if($arg == "middleA") {
        border-radius: $topLeft-bottomRight;
    }
    @if($arg == "middleB") {
        border-radius: $topRight-bottomLeft;
    }
    @if($arg == "side") {
        border-radius: 90px 0 0 90px;
    }
    @if($arg == "bottom") {
        border-radius: 90px 90px 0 0;
    }
}
//div set up mixin for small screens
@mixin set-div-small{
    text-align: center;
    //border-radius: $radius;
    border-block: solid 10px;
    background-color: $textBackground;
    padding: 10px;
    width: $small-width;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
    z-index: 0;
    opacity: 0.55;
    
}
//mix in for hover effect 
@mixin hover-effect{
    transform: scale(1.1);
    z-index: 1;
    opacity: 1;
}
//css shared between all sized screen.
//set things like font and color for divs so they match
body {
    @include font-fam(small);
}
h1, h2, h3 {
    @include font-fam(large);
}
h1 {
    font-size: 3em;
}
h2 {
    font-synthesis: 1em;
}
a {
    @include linkStyle2();
}
footer a {
    @include linkStyle();
}

//for big screens
@media only screen and (min-width: 1400px) {
    body {
        background-image: url('./ZenGardenMaybes/pexels-fox-212324.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100vw 100vh;


    }
    .page-wrapper {
       display: grid;
       grid-template-columns: 1fr 200px;
       grid-template-rows: repeat(auto-fill, minmax(100px, 680px));
       justify-items: center;
       grid-column-gap: 15px;
    }
    .intro {
        &>* {
            padding: 10px;
            opacity: 0.55;
            margin: 10px;
        }
        &>*:hover {
            opacity: 1;
        }

        & header {
           @include set-div2("top", $green);
           width: 80vw;
           z-index: 3;

        }
        & .summary {
            @include set-div2("middleA", $pink);
            width: $width;
            margin-left: auto;
            margin-right: auto;
            transition: all 1s;
            z-index: 0;
            &:hover {
                transform: scale(1.1);
                z-index: 1;
            }
        }
        & .preamble {
            @include set-div2("middleB", $purple);
            width: $width;
            margin-left: auto;
            margin-right: auto;
            transition: all 1s;
            z-index: 0;
            &:hover {
                transform: scale(1.1);
                z-index: 1;
            }
        }
    }
    h1, h2 {
        margin: 5px;
    }
    #zen-supporting {
        width: 100%;
        &>* {
            padding: 10px;
            opacity: 0.55;
            margin: 10px;
        }
        &>*:hover {
            opacity: 1;
        }
       
        & .explanation {
            @include set-div2("middleA", $orange);
            width: $width;
            margin-left: auto;
            margin-right: auto;
            transition: all 1s;
            z-index: 0;
            &:hover {
                transform: scale(1.1);
                z-index: 1;
            }
        }
        & .participation {
            @include set-div2("middleB", $yellow);
            width: $width;
            margin-left: auto;
            margin-right: auto;
            transition: all 1s;
            z-index: 0;
            &:hover {
                transform: scale(1.1);
                z-index: 1;
            }
        }
        & .benefits {
            @include set-div2("middleA", $purple);
            width: $width;
            margin-left: auto;
            margin-right: auto;
            transition: all 1s;
            z-index: 0;
            &:hover {
                transform: scale(1.1);
                z-index: 1;
            }
        }
        & .requirements {
            @include set-div2("middleB", $pink); 
            width: $width; 
            margin-left: auto;
            margin-right: auto;
            transition: all 1s;
            z-index: 0;
            &:hover {
                transform: scale(1.1);
                z-index: 1;
            }
        }
        & footer {
            @include set-div2("bottom", $green);
            padding: 15px;
            z-index: 0;
        }
    }

    .sidebar {
        @include set-div2("side", $green);
        width: 200px;
        padding: 5px; 
        grid-column: 2;
        grid-row: 1/span 2;
        padding-top: 5px;
        font-size: 10px;
        opacity: 0.55;

        &:hover {
            opacity: 1;
        }
        & li a {
            font-size: 23px;
        }
    }
}
//for medium screens
@media only screen and (max-width: 1399px) and (min-width: 800px) {
    
}

//for little screens
@media only screen and (max-width: 700px) {
    .page-wrapper {
        display: grid;
        grid-template-rows: repeat(1fr, 12);
        gap: 100px; 
        background-image: url('./ZenGardenMaybes/pexels-irina-iriser-1381679.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100vw 100vh;
      
    }
  
    .intro {
       
        display: grid;
        grid-gap: 100px;
        justify-items: center;
        
    }

        header {
            @include set-div-small();
           
            width: 100%;
            border-radius: 0 0 90px 90px;
            border-color: $green;
            &:hover {
                @include hover-effect();
            }
           
        }
        .summary {
           
            @include set-div-small();
            border-radius: $topLeft-bottomRight;
            border-color: $pink;
            &:hover {
                @include hover-effect();
            }
        }
         .preamble {
            @include set-div-small();
            border-radius: $topRight-bottomLeft;
            border-color: $purple;
                     
            &:hover {
                @include hover-effect();
            }
        
        }

    
    h1, h2 {
        margin: 5px;
    }
    #zen-supporting {

        display: grid;
        grid-gap: 100px;
        justify-items: center;
    }

         .explanation {
            @include set-div-small();
            border-radius: $topLeft-bottomRight;
            border-color: $orange;
           
            &:hover {
                @include hover-effect();
            }
        
        }
        .participation {
           
            @include set-div-small();
            border-radius: $topRight-bottomLeft;
            border-color: $yellow;
           
            &:hover {
                @include hover-effect();
            }
            
        }
         .benefits {
            @include set-div-small();
            border-radius: $topLeft-bottomRight;
            border-color: $purple;
            &:hover {
                @include hover-effect();
            }
           
        }
        .requirements {
        
            @include set-div-small();
            border-radius: $topRight-bottomLeft;
            border-color: $pink;
        
            &:hover {
                @include hover-effect();
            }
            
        }
        footer { 
            @include set-div-small(); 
            border-radius: $topLeft-bottomRight;
            border-color: $green;
        
            &:hover {
                @include hover-effect();
            }
           
        }
    

    .sidebar {
       
        @include set-div-small(); 
        border-radius: 0px 0px 0px 0px;
        border-color: $green;
        width: 100%; 
       
        &:hover {
            @include hover-effect();
        }
       
    ul {
        @include listin();
    }
} 
}