@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Spectral:wght@200&family=Zen+Loop&display=swap");
body {
  font-family: "Indie Flower", "Zen Loop", "sans-serif";
}

h1, h2, h3 {
  font-family: "Spectral", "Playfair Display", "serif";
}

h1 {
  font-size: 3em;
}

h2 {
  font-synthesis: 1em;
}

a {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: "Zen Loop", sans-serif;
  font-weight: 700;
  font-size: x-large;
  color: #9064ff;
}

a:visited {
  color: #fd70df;
}

a:hover {
  color: #ff7b64;
}

footer a {
  text-decoration: none;
  font-family: "Zen Loop", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #9064ff;
  padding: 15px;
  border-radius: 90px 0 90px 0;
}

footer a:visited {
  background-color: #fd70df;
  color: white;
}

footer a:hover {
  background-color: #ff7b64;
  color: white;
}

@media only screen and (min-width: 1400px) {
  body {
    background-image: url("./ZenGardenMaybes/pexels-fox-212324.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
  }
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
    -ms-grid-rows: (minmax(100px, 680px))[auto-fill];
        grid-template-rows: repeat(auto-fill, minmax(100px, 680px));
    justify-items: center;
    grid-column-gap: 15px;
  }
  .intro > * {
    padding: 10px;
    opacity: 0.55;
    margin: 10px;
  }
  .intro > *:hover {
    opacity: 1;
  }
  .intro header {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #64ffbc;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 0 0 90px 90px;
    width: 80vw;
    z-index: 3;
  }
  .intro .summary {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #fd70df;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 0px 90px 0px 90px;
  }
  .intro .summary:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .intro .preamble {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #9064ff;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 90px 0px 90px 0px;
  }
  .intro .preamble:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  h1, h2 {
    margin: 5px;
  }
  #zen-supporting {
    width: 100%;
  }
  #zen-supporting > * {
    padding: 10px;
    opacity: 0.55;
    margin: 10px;
  }
  #zen-supporting > *:hover {
    opacity: 1;
  }
  #zen-supporting .explanation {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #ff7b64;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 0px 90px 0px 90px;
  }
  #zen-supporting .explanation:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  #zen-supporting .participation {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #ffc964;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 90px 0px 90px 0px;
  }
  #zen-supporting .participation:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  #zen-supporting .benefits {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #9064ff;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 0px 90px 0px 90px;
  }
  #zen-supporting .benefits:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  #zen-supporting .requirements {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #fd70df;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 90px 0px 90px 0px;
  }
  #zen-supporting .requirements:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  #zen-supporting footer {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #64ffbc;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 90px 90px 0 0;
    padding: 15px;
    z-index: 0;
  }
  .sidebar {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 10px;
    border-color: #64ffbc;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 90px 0 0 90px;
    width: 200px;
    padding: 5px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    padding-top: 5px;
    font-size: 10px;
    opacity: 0.55;
  }
  .sidebar:hover {
    opacity: 1;
  }
  .sidebar li a {
    font-size: 23px;
  }
}

@media only screen and (max-width: 700px) {
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (12)[1fr];
        grid-template-rows: repeat(1fr, 12);
    gap: 50px;
    background-image: url("./ZenGardenMaybes/pexels-sam-willis-3934512.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
  }
  p {
    display: none;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    gap: 100px;
    justify-items: center;
  }
  header {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    width: 100%;
    border-radius: 0 0 90px 90px;
    border-color: #64ffbc;
  }
  header:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .summary {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 0px 90px 0px 90px;
    border-color: #fd70df;
  }
  .summary:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .summary p {
    display: block;
  }
  .preamble {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 90px 0px 90px 0px;
    border-color: #9064ff;
  }
  .preamble:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .preamble:hover p {
    display: block;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
  }
  h1, h2 {
    margin: 5px;
  }
  #zen-supporting {
    display: -ms-grid;
    display: grid;
    gap: 100px;
    justify-items: center;
  }
  .explanation {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 0px 90px 0px 90px;
    border-color: #ff7b64;
  }
  .explanation:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .explanation:hover p {
    display: block;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
  }
  .participation {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 90px 0px 90px 0px;
    border-color: #ffc964;
  }
  .participation:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .participation:hover p {
    display: block;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
  }
  .benefits {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 0px 90px 0px 90px;
    border-color: #9064ff;
  }
  .benefits:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .benefits:hover p {
    display: block;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
  }
  .requirements {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 90px 0px 90px 0px;
    border-color: #fd70df;
  }
  .requirements:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .requirements:hover p {
    display: block;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
  }
  footer {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 0px 90px 0px 90px;
    border-color: #64ffbc;
  }
  footer:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .sidebar {
    text-align: center;
    border-block: solid 10px;
    background-color: aliceblue;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    z-index: 0;
    opacity: 0.55;
    border-radius: 0px 0px 0px 0px;
    border-color: #64ffbc;
    width: 100%;
  }
  .sidebar:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    opacity: 1;
  }
  .sidebar ul {
    list-style: none;
  }
}
/*# sourceMappingURL=showmewhatyougot.css.map */