@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Spectral:wght@200&family=Zen+Loop&family=Playfair+Display+SC:wght@400;700&family=Quicksand&display=swap");
body {
  font-family: "Indie Flower", "Zen Loop", "sans-serif";
}

h1, h2, h3 {
  font-family: "Spectral", "Playfair Display", "serif";
}

h1 {
  font-size: 3em;
}

h2 {
  font-synthesis: 1em;
}

a {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-family: "Zen Loop", sans-serif;
  font-weight: 700;
  font-size: x-large;
  color: rgba(144, 100, 255, 0.5);
}

a:visited {
  color: rgba(253, 112, 223, 0.5);
}

a:hover {
  color: rgba(255, 123, 100, 0.5);
}

footer a {
  text-decoration: none;
  font-family: "Zen Loop", sans-serif;
  font-weight: 700;
  color: white;
  background-color: rgba(144, 100, 255, 0.5);
  padding: 15px;
  border-radius: 90px 0 90px 0;
}

footer a:visited {
  background-color: rgba(253, 112, 223, 0.5);
  color: white;
}

footer a:hover {
  background-color: rgba(255, 123, 100, 0.5);
  color: white;
}

.intro header {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(100, 255, 188, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  border-radius: 0 0 90px 90px;
}

.intro .summary {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(253, 112, 223, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}

.intro .preamble {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(144, 100, 255, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}

#zen-supporting .explanation {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(255, 123, 100, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}

#zen-supporting .participation {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(255, 201, 100, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}

#zen-supporting .benefits {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(144, 100, 255, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}

#zen-supporting .requirements {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(253, 112, 223, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
}

#zen-supporting footer {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(100, 255, 188, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 90px 90px 0 0;
}

.sidebar {
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-block: solid 20px;
  border-color: rgba(100, 255, 188, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 0;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 90px 0 0 90px;
}

@media only screen and (min-width: 1201px) {
  body {
    background-image: url("./ZenGardenMaybes/pexels-fox-212324.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
    margin: 5px;
  }
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 210px;
        grid-template-columns: 1fr 210px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    justify-items: center;
    width: 97.7vw;
    margin-right: auto;
    margin-left: auto;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: none;
    width: 100%;
  }
  .intro > * {
    padding: 10px;
    opacity: 0.65;
    margin: 10px;
  }
  .intro > *:hover {
    opacity: 1;
  }
  .intro header {
    z-index: 3;
  }
  .intro .summary:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .intro .preamble:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  h1, h2 {
    margin: 5px;
  }
  #zen-supporting {
    display: -ms-grid;
    display: grid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  #zen-supporting > * {
    padding: 10px;
    opacity: 0.65;
    margin: 10px;
  }
  #zen-supporting > *:hover {
    opacity: 1;
  }
  #zen-supporting .explanation:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #zen-supporting .participation:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #zen-supporting .benefits:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #zen-supporting .requirements:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #zen-supporting footer {
    padding: 15px;
    z-index: 0;
  }
  .sidebar {
    width: 200px;
    padding: 5px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    padding-top: 5px;
    font-size: 10px;
    opacity: 0.65;
  }
  .sidebar:hover {
    opacity: 1;
  }
  .sidebar li a {
    font-size: 23px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 901px) {
  body {
    background-image: url("./ZenGardenMaybes/pexels-benjamin-suter-3617500.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
    margin: 5px;
  }
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    justify-items: center;
    width: 97.7vw;
  }
  .intro {
    overflow-x: none;
  }
  .intro > * {
    padding: 10px;
    opacity: 0.55;
    margin: 10px;
  }
  .intro > *:hover {
    opacity: 1;
  }
  .intro header {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(253, 112, 223, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    border-radius: 0 0 90px 90px;
    width: 80vw;
    z-index: 3;
  }
  .intro .summary {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(144, 100, 255, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
  }
  .intro .summary:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .intro .preamble {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(255, 123, 100, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
  }
  .intro .preamble:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  h1, h2 {
    margin: 5px;
  }
  #zen-supporting {
    width: 100%;
  }
  #zen-supporting > * {
    padding: 10px;
    opacity: 0.55;
    margin: 10px;
  }
  #zen-supporting > *:hover {
    opacity: 1;
  }
  #zen-supporting .explanation {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(100, 255, 188, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
  }
  #zen-supporting .explanation:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  #zen-supporting .participation {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(255, 201, 100, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
  }
  #zen-supporting .participation:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  #zen-supporting .benefits {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(144, 100, 255, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
  }
  #zen-supporting .benefits:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  #zen-supporting .requirements {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(253, 112, 223, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
  }
  #zen-supporting .requirements:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  #zen-supporting footer {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(255, 201, 100, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px 90px 0 0;
    padding: 15px;
    z-index: 0;
  }
  .sidebar {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    border-block: solid 20px;
    border-color: rgba(253, 112, 223, 0.5);
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 0;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px 0 0 90px;
    width: 200px;
    padding: 5px;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    padding-top: 5px;
    font-size: 10px;
    opacity: 0.55;
  }
  .sidebar:hover {
    opacity: 1;
  }
  .sidebar li a {
    font-size: 23px;
  }
}

@media only screen and (max-width: 900px) {
  body {
    overflow-x: none;
  }
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    gap: 0px;
    overflow-x: none;
    background-color: #778899;
    background-image: url("./ZenGardenMaybes/pexels-irina-iriser-1381679.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
    -webkit-transition: 0;
    transition: 0;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .intro header {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
  }
  .intro header:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .intro .summary {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
  }
  .intro .summary:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .intro .preamble {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
  }
  .intro .preamble:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  h1, h2 {
    margin: 5px;
  }
  #zen-supporting {
    justify-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #zen-supporting .explanation {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
  }
  #zen-supporting .explanation:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  #zen-supporting .participation {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
  }
  #zen-supporting .participation:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  #zen-supporting .benefits {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
  }
  #zen-supporting .benefits:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  #zen-supporting .requirements {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
  }
  #zen-supporting .requirements:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  #zen-supporting footer {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #zen-supporting footer:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
    gap: 0;
    width: 95%;
  }
  .wrapper h3 {
    font-size: small;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0;
  }
  .sidebar {
    text-align: center;
    width: 90%;
    opacity: 0.85;
    margin-bottom: 5px;
    padding: 10px;
    font-family: "Spectral", "Playfair Display", "serif";
    border-radius: 0%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    text-align: left;
    overflow: none;
    border-color: rgba(144, 100, 255, 0.5);
  }
  .sidebar:hover {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  .sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: left;
  }
  .sidebar ul li {
    font-size: x-small;
  }
  .sidebar ul li a {
    font-size: x-small;
    color: black;
    font-family: "Spectral", "Playfair Display", "serif";
    font-weight: 400;
    text-decoration: underline;
  }
}
/*# sourceMappingURL=showmewhatyougot.css.map */