@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Spectral:wght@200&family=Zen+Loop&display=swap");
body {
  font-family: "Indie Flower", "Zen Loop", "sans-serif";
}

h1, h2, h3 {
  font-family: "Spectral", "Playfair Display", "serif";
}

h1 {
  font-size: 3em;
}

h2 {
  font-synthesis: 1em;
}

a {
  text-decoration: wavy;
  font-family: "Zen Loop", sans-serif;
  font-weight: 700;
  font-size: x-large;
  color: #9064ff;
}
a:visited {
  color: #64ffbc;
}
a:hover {
  color: #fd70df;
}

footer a {
  text-decoration: none;
  font-family: "Zen Loop", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #9064ff;
  padding: 15px;
  border-radius: 90px 0 90px 0;
}
footer a:visited {
  background-color: #64ffbc;
  color: white;
}
footer a:hover {
  background-color: #ff52da;
  color: white;
}

@media only screen and (min-width: 1200px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9, 160px);
    grid-gap: 10px;
  }

  .intro {
    grid-column: 1/4;
    grid-row: 1/4;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 100px 240px;
  }
  .intro header {
    background-color: rgba(100, 255, 188, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    padding: 10px;
    border-radius: 0 0 90px 90px;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
  }
  .intro .summary {
    background-color: rgba(253, 112, 223, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    text-align: center;
    border-radius: 80px;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 2;
  }
  .intro .preamble {
    background-color: rgba(144, 100, 255, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    text-align: center;
    border-radius: 80px;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 3;
  }

  h1, h2 {
    margin: 5px;
  }

  #zen-supporting {
    grid-column: 1/4;
    grid-row: 4/8;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 330px 150px 410px 55px;
  }
  #zen-supporting .explanation {
    background-color: rgba(255, 123, 100, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    text-align: center;
    border-radius: 80px;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 1;
  }
  #zen-supporting .participation {
    background-color: rgba(255, 201, 100, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    text-align: center;
    border-radius: 80px;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 2;
  }
  #zen-supporting .benefits {
    background-color: rgba(100, 255, 188, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    text-align: center;
    border-radius: 80px;
    padding: 10px;
    grid-column: 1/3;
    grid-row: 3;
  }
  #zen-supporting .requirements {
    background-color: rgba(253, 112, 223, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    text-align: center;
    border-radius: 80px;
    padding: 10px;
    grid-column: 1/4;
    grid-row: 4;
  }
  #zen-supporting footer {
    background-color: rgba(255, 201, 100, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    border-radius: 80px 80px 0 0;
    text-align: center;
    padding: 15px;
    grid-column: 1/4;
    grid-row: 5;
  }

  .sidebar {
    background-color: rgba(144, 100, 255, 0.5);
    /*@if ($arg == $opYellow or $arg == $yellow) {
        color: black;
    } @else {
        color: white;
    }*/
    text-align: center;
    border-radius: 80px;
    padding: 10px;
    grid-column: 3/4;
    grid-row: 2/7;
  }

  ul {
    list-style: none;
  }
}

/*# sourceMappingURL=showmewhatyougot.css.map */
