@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display&family=Spectral:wght@200&family=Zen+Loop&display=swap');

html {
    background-color: #9064ff;
}

body {
    margin-top: 150px;
    font-family: "Indie Flower", "Zen Loop", sans-serif;
    width: 80%;
    margin-left: 10%;
    background-color: #fd70df;
}

h1, h2, h3, h4 {
    font-family: "Spectral", "Playfair Display", serif;
}

#fonts {
    background-color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}
#fonts ul {
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}
#fonts li {
    margin-right: 10px;
}
#indie {
    font-family: "Indie Flower";
}
#zen {
    font-family: "Zen Loop";
}
#spectral {
    font-family: "Spectral";
}
#playfair {
    font-family: "Playfair Display";
}

#colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto;
    background-color: white;
    padding: 10px;
}
.color {
    height: 100px;
    width: 200px;
    margin: 5px;
    justify-self: center;
}

div h2 {
    grid-column: span 5;
    text-align: center;
}
#colors p {
    justify-self: center;
}
#green {
    background-color: #64ffbc;
}
#pink {
    background-color: #ff52da;
}
#orange {
    background-color: #ff7b64;
}
#yellow {
    background-color: #ffc964;
}
#purple {
    background-color: #9064ff;
}